h1 {
  font-family: monospace;
}

.invisible {
  display:hidden;
}

.border-green {
  border: 5px solid green;
}

.border-crimson {
  border: 5px solid crimson;
}

.border-pink {
  border: 5px solid pink;
}

.border-red {
  border: 5px solid red;
}

.border-blue {
  border: 5px solid cornflowerblue;
}

.border-orange {
  border: 5px solid orange;
}

.border-yellow {
  border:10px solid yellow;
}

.center {
  padding: 70px 0;
  text-align: center;
}

p {
  width: 50px;
  text-align: center;
}

#important {
  font-size: 20px;
}
